.burger-menu {
  visibility: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
  right: 0;
  top: 0;
  width: 0%;
  background-color: #e0c7af;
  z-index: 3;
  height: 100vh;
  transition: visibility .5s, width .5s ease-in;
}

.burger-menu_visible {
  width: 100%;
  visibility: visible;
}

.burger-menu__links {
  visibility: hidden;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 0;
  box-sizing: border-box;
  gap: 20px;
  transition: visibility .3s;
}

.burger-menu__links_visible {
  visibility: visible;
}

.burger-menu__ancor {
  text-decoration: none;
  font-family: "Romul", "Arial", sans-serif;
  font-size: 14px;
  color: black;
  transition: color .4s;
}

.burger-menu__close {
  text-decoration: none;
  font-family: "Romul", "Arial", sans-serif;
  font-size: 14px;
  color: black;
  transition: color .4s;
  background-color: inherit;
  border: none;
  padding-bottom: 150px;
}
