.burger-menu {
  visibility: hidden;
  display: flex;
  flex-direction: column;
  position: fixed;
  right: 0;
  top: 0;
  width: 0%;
  background-color: #e0c7af;
  z-index: 3;
  height: 100vh;
  transition: visibility .5s, width .5s ease-in;
  padding: 100px 20px;
  box-sizing: border-box;
}

.burger-menu_visible {
  width: 100%;
  visibility: visible;
}

.burger-menu__links {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  box-sizing: border-box;
  gap: 20px;
  margin: 0;
}

.burger-menu__link {
  visibility: hidden;
  font-family: "Romul", "Arial", sans-serif;
  font-size: 14px;
  color: black;
  transition: color .4s;
  background-color: inherit;
  border: none;
  width: 0%;
  transition: visibility .5s, width .5s ease-in;
}

.burger-menu__link_visible {
  visibility: visible;
  width: 100%;
}

.burger-menu__ancor {
  text-decoration: none;
  font-family: "Romul", "Arial", sans-serif;
  font-size: 14px;
  color: black;
  transition: color .4s;
}

/* .burger-menu__close {
  background-color: inherit;
  border: none;
  padding: 0;
  background-image: url(../../images/close.svg);
  background-repeat: no-repeat;
  width: 40px;
  height: 40px;
  align-self: flex-end;
  background-size: cover;
  visibility: visible;
}

.burger-menu__close_visible {
  visibility: visible;
} */
