.footer {
  display: flex;
  flex-direction: row;
  margin: 0;
  align-items: center;
  justify-content: center;
  gap: 50px;
  margin: 100px 0 130px;
}

.footer__text {
  font-family: "Romul", "Arial", sans-serif;
  font-size: 20px;
  margin: 0;
}

.footer__names {
  display: flex;
  flex-direction: column;
  margin: 0;
  width: 450px;
  align-items: flex-start;
}

.footer__name {
  font-family: "Caravan", "Arial", sans-serif;
  font-size: 120px;
  font-weight: 200;
  line-height: 80pt;
  margin: 0;
}

.footer__name-end {
  align-self: flex-end;
}

@media screen and (max-width: 1700px) {
  .footer {
    margin: 50px 0 100px;
  }

  .footer__text {
    font-size: 18px;
  }

  .footer__names {
    width: 400px;
  }

  .footer__name {
    font-size: 100px;
    line-height: 60pt;
  }
}

@media screen and (max-width: 1300px) {
  .footer {
    margin: 50px 0 70px;
  }

  .footer__text {
    font-size: 14px;
  }

  .footer__names {
    width: 250px;
  }

  .footer__name {
    font-size: 70px;
    line-height: 55px;
  }
}

@media screen and (max-width: 800px) {
  .footer {
    flex-direction: column;
    gap: 5px;
    margin: 50px 0 50px;
  }

  .footer__text {
    font-size: 12px;
  }

  .footer__names {
    width: 200px;
    margin-top: 15px;
  }

  .footer__name {
    font-size: 50px;
    line-height: 40px;
    margin: 0;
  }

  .footer__name-end {
    align-self: flex-end;
  }
}
