.rsvp {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 100px 0 0;
  position: relative;
}

.rsvp__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.rsvp__header {
  display: flex;
  flex-direction: row;
  align-self: flex-start;
  align-items: center;
  margin-bottom: 70px;
  width: 100%;
}

.rsvp__title {
  font-family: "Caravan", "Arial", sans-serif;
  font-size: 120px;
  font-weight: 200;
  margin: 0;
}

.rsvp__trait {
  width: 27%;
  height: 2px;
  background-color: black;
  margin: 80px 50px 0 0;
  z-index: 2;
}

.rsvp__text {
  font-family: "Romul", "Arial", sans-serif;
  font-size: 20px;
  line-height: 37px;
  width: 60%;
  margin: 30px 0 0;
}

.question__return {
  font-family: "Romul", "Arial", sans-serif;
  font-size: 16px;
  line-height: 37px;
  background-color: inherit;
  border: none;
  cursor: pointer;
  transition: opacity .4s;
  margin: 0;
  color: black;
}

.question__return:hover {
  opacity: .6;
}

.question__answer {
  font-family: "Romul", "Arial", sans-serif;
  font-size: 20px;
  line-height: 37px;
  margin: 10px 0;
}

.rsvp__form {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  min-width: 40%;
  margin: 50px 0 0;
}

.rsvp__string {
  display: flex;
  flex-direction: row;
  margin: 0 0 30px;
}

.rsvp__label {
  font-family: "Romul", "Arial", sans-serif;
  font-size: 20px;
  line-height: 37px;
  margin: 0 15px 0 0;
  display: flex;
  align-items: center;
}

.rsvp__input {
  width: 340px;
  height: 55px;
  border-radius: 3.5px;
  border: .5px solid #ad9a8780;
  font-family: "Romul", "Arial", sans-serif;
  font-size: 20px;
  padding: 5px;
  box-sizing: border-box;
}

.rsvp__buttons {
  display: flex;
  flex-direction: row;
  margin: 0;
  gap: 25px;
  align-self: center;
}

.rsvp__button {
  width: 200px;
  height: 50px;
  background-color: #ad9a8780;
  font-family: "Romul", "Arial", sans-serif;
  font-size: 12pt;
  border: none;
  align-self: center;
  border-radius: 3.5px;
  cursor: pointer;
  color: black;
  font-weight: 200;
}

.rsvp__button:disabled {
  opacity: .7;
}

.rsvp__figure {
  background-image: url(../../images/figure.svg);
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  top: -40px;
  left: 0;
  width: 100px;
  height: 300px;
}

@media screen and (max-width: 1700px) {
  .rsvp {
    padding: 70px 0 0;
  }

  .rsvp__header {
    margin-bottom: 60px;
  }

  .rsvp__title {
    font-size: 100px;
  }

  .rsvp__trait {
    margin: 60px 50px 0 0;
  }

  .rsvp__figure {
    top: -30px;
    width: 90px;
    height: 250px;
  }

  .rsvp__text {
    font-size: 18px;
    line-height: 33px;
  }

  .question__return {
    font-size: 14px;
    line-height: 33px;
    padding: 0;
  }

  .question__answer {
    font-size: 18px;
    line-height: 33px;
    margin: 7px 0;
  }

  .rsvp__string {
    display: flex;
    flex-direction: row;
    margin: 0 0 30px;
  }

  .rsvp__label {
    font-size: 18px;
    line-height: 33px;
  }

  .rsvp__input {
    font-size: 18px;
    padding: 7px;
  }
  .rsvp__button {
    font-size: 18px;
  }
}

@media screen and (max-width: 1300px) {
  .rsvp {
    padding: 50px 0 0;
  }

  .rsvp__header {
    margin-bottom: 50px;
  }

  .rsvp__figure {
    top: -40px;
    width: 70px;
    height: 200px;
  }

  .rsvp__title {
    font-size: 70px;
  }

  .rsvp__trait {
    margin: 40px 50px 0 0;
  }

  .rsvp__text {
    font-size: 14px;
    line-height: 28px;
    width: 60%;
    margin: 0;
  }

  .question__return {
    font-size: 10px;
    line-height: 28px;
  }

  .question__answer {
    font-size: 14px;
    line-height: 28px;
    margin: 15px 0 5px 0;
  }

  .rsvp__form {
    min-width: 40%;
    margin: 30px 0 0;
  }

  .rsvp__string {
    margin: 0 0 25px;
  }

  .rsvp__label {
    font-size: 14px;
  }

  .rsvp__input {
    width: 300px;
    height: 45px;
    font-size: 14px;
  }

  .rsvp__buttons {
    gap: 20px;
  }

  .rsvp__button {
    width: 150px;
    height: 40px;
    font-size: 14px;
  }
}

@media screen and (max-width: 800px) {
  .rsvp {
    padding: 30px 0 0;
  }

  .rsvp__header {
    margin-bottom: 30px;
    height: 1px;
  }

  .rsvp__title {
    font-size: 60px;
    text-align: start;
  }

  .rsvp__trait {
    height: 1px;
    margin: 40px 30px 0 0;
  }

  .rsvp__figure {
    opacity: 0;
  }

  .rsvp__text {
    font-size: 12px;
    line-height: 22px;
    width: 80%;
    margin: 20px 0 0;
  }

  .question__return {
    font-size: 8px;
    line-height: 22px;
  }

  .question__answer {
    font-size: 12px;
    line-height: 22px;
  }

  .rsvp__form {
    min-width: 40%;
    margin: 20px 0 0;
  }

  .rsvp__string {
    margin: 0 0 15px;
  }

  .rsvp__label {
    font-size: 8pt;
    line-height: 20px;
    margin: 0 10px 0 0;
  }

  .rsvp__input {
    width: 175px;
    height: 35px;
    font-size: 12px;
  }

  .rsvp__buttons {
    gap: 15px;
  }

  .rsvp__button {
    width: 130px;
    height: 35px;
    font-size: 12px;
  }
}