@import url(../src/vendor/normalize.css);
@import url(../src/vendor/font/font.css);

body {
  margin: 0 auto;
  font-family: "Romul", "Arial", sans-serif;
  font-weight: 200;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  max-width: 1650px;
  background-color: #f7ebdf;
}

html {
  scroll-behavior: smooth;
}

input,
textarea,
button,
select,
a {
    -webkit-tap-highlight-color: transparent;
}
